body {
  background-color: #f4f6f8; /* fundo claro */
  color: #1a1a1a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #ffffff; /* fundo branco do card */
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 0 1px #e0e0e0;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #1a1a1a;
}

.subtitle {
  font-weight: bold;
}

.instruction {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #3d5afe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #304ffe;
}

.login {
  margin-top: 15px;
  font-size: 13px;
  color: #555;
}

.login a {
  color: #3d5afe;
  text-decoration: none;
}

/* Info note */
.note {
  display: inline-flex;
  font-size: 11px;
  color: #777;
  margin-top: 6px;
  align-items: center;
}

.note img {
  margin-right: 5px;
  height: 15px;
  width: 15px;
}

.note span {
  margin-top: 1px;
}
